.chart-create-page {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    h1 {
        font-size: 2em;
    }
    .chart-data-create {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .chart-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }
}
